http://weibo.com/1973361597/A6qA7kT5A	1377443280	[ppb鼓掌] 	认真的求好运 //:求好运~[ppb鼓掌][ppb鼓掌]
http://weibo.com/3160039710/A6qA7jces	1377443282	[ali哇] 	#全球首款6寸FHD极致影院手机卓普大黑#等你拿又到了学长勾引学妹学妹吸引学长的季节阿里手机最炫开学季火爆进行最高优惠1200元前50名购机享免单超值大礼送不停…小伙伴们羡慕去吧现转发就有机会赢2199元卓普大黑[ali哇]
http://weibo.com/2157454054/A6qA97o5n	1377443284	[good] [good] 	Are you ?//: we need「 Higher, Faster, Stronger」//:奋斗吧少年咳...青年 //:社会为什么变得这么现实 //: [good] //: 没有人会可怜你[good]
http://weibo.com/1561264982/A6qAcje4S	1377443292	[good] 	理发店现在生意这么不好嘛//: 充分展示啥才叫狂拽酷帅叼炸天[good] //:你们感受下~
http://weibo.com/2462297200/A6qAdvvsl	1377443295	[good] 	大爱 //:这个必须感受一下 [good]
http://weibo.com/2012773937/A6qAj8BPb	1377443309	[din赞好] [din看看] [din说话] [din看看] [din挥手] 	#关注转发赢护眼灯#嗲的哦倩倩祝 粉丝多多人气旺旺生意兴隆哦~倩倩默默支持期待有份好运~闺蜜们快来围观~[din赞好][din看看][din说话][din看看][din挥手]
http://weibo.com/1957178583/A6qAiyEEy	1377443309	[good] 	下班看到西大桥交警冒雨执勤真辛苦赞一个[good]
http://weibo.com/1664826265/A6qAk0n9B	1377443311	[xkl奔跑] 	//: //:#吴亦凡# #中国爱大歌会# 虽然全场都对他的皇上呼声最高但是可怜这倒霉孩子无奈抽到皇后啊哈哈[xkl奔跑]
http://weibo.com/1316222597/A6qAkAH8u	1377443313	[lxhx笑] 	[lxhx笑]明早起床我要喝自制奶茶吃买的小蛋糕、敏敏送我的手工点心、还有三颗西梅、一颗火龙果或者是芒果话说现在特别喜欢早上起床后就喝热水或者热茶、热豆浆什么的喝到觉得通透或者出汗再出门。
http://weibo.com/1766589144/A6qAo8xSW	1377443319	[hold住] 	【节目预告】19年的 始终不变的心灵陪伴8月26日秋冬新版即将全新登场相信大家已经通过近期节目听到了一些预告……当然袁主播的#夜班DJ时段#肯定是Hold的很住[hold住]八年晚班算什么还得继续上啊此剧透音频好料很多哦http://t.cn/z8zVh1z
